Ice.Default.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 4061
IceGrid.Node.Name=cerberus-pike
IceGrid.Node.Data=/tmp/cerberus/db/cerberus-pike
IceGrid.Node.Endpoints=tcp
IceGrid.Node.CollocateRegistry=1
IceGrid.Registry.Client.Endpoints=tcp -p 4061
IceGrid.Registry.Server.Endpoints=tcp
IceGrid.Registry.Internal.Endpoints=tcp
IceGrid.Registry.Data=/tmp/cerberus/db/registry
IceGrid.Registry.PermissionsVerifier=IceGrid/NullPermissionsVerifier
IceGrid.Registry.AdminPermissionsVerifier=IceGrid/NullPermissionsVerifier
IceGrid.Registry.DefaultTemplates=/usr/share/Ice/templates.xml

Ice.StdOut=/tmp/cerberus/db/cerberus-pike/out.txt
Ice.StdErr=/tmp/cerberus/db/cerberus-pike/err.txt
