Source: person-recognizer
Section: python3
Priority: extra
Maintainer: Cristian Trapero Mora <cristian.trapero@uclm.es>
Build-Depends: debhelper (>= 7.0.50~), quilt
Standards-Version: 3.9.8
Homepage: https://bitbucket.org/arco_group/cerberus

Package: person-recognizer
Architecture: all
Depends:
 ${misc:Depends},
 python3,
 python3-zeroc-ice,
 citisim-slice,
 libcitisim,
 python3-numpy
Description: Cerberus Person Recognizer
 This service recognize a face person usign the Openface Library.
