Source: snapshot-service
Section: utils
Priority: extra
Maintainer: Cristian Trapero Mora <critramo@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), quilt
Standards-Version: 3.9.8

Package: snapshot-service
Architecture: all
Depends: ${misc:Depends}
Description: FIXME: Short description of the snapshot-service package
 FIXME: long description about the basic features of the snapshot-service package
