Source: motion-sensor
Section: python
Priority: extra
Maintainer: Cristian Trapero Mora <critramo@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), python3
Standards-Version: 3.9.8
Homepage: https://bitbucket.org/arco_group/cerberus

Package: motion-sensor
Architecture: all
Depends: 
 ${misc:Depends},
 python3,
 python3-zeroc-ice,
 citisim-slice,
 libcitisim,
 python3-pip
Description: Cerberus Motion Sensor
 This service monitor the changes in a directory in order to detect  the images creation in that.
